<h1>Welcome!</h1>

<br>

<table>
  <thead>
    <tr>
      <th colspan="4">Feel free to choose any of the options below</th>
    </tr>
  </thead>

  <tbody>
    <tr><td><%= link_to 'Add a new client', new_client_path %></td></tr>
    <tr><td><%= link_to 'Add a new product', new_product_path %></td></tr>
    <tr><td><%= link_to 'Add a new "buy more and pay for less" type rule', new_more_for_less_rule_path %></td></tr>
    <tr><td><%= link_to 'Add a new "price discount" typer ule', new_price_discount_rule_path %></td></tr>
  </tbody>
</table>